
<nav id="navigation">
    <div class="footernav">
      <ul>
        <li><a routerLink="/home"><mat-icon>home</mat-icon></a></li>
        <li><a routerLink="/favorites"><mat-icon>star</mat-icon></a></li>
      </ul>
  
      <div class="center-button">
        <a routerLink="/schedule"><mat-icon>map</mat-icon></a>
      </div>

      <ul>
        <li><a routerLink="/ticket"><mat-icon>confirmation_number</mat-icon></a></li>
        <li><a routerLink="/profile"><mat-icon>person</mat-icon></a></li>
      </ul>
    </div>
</nav>


  
